/* CSS Document */

/*主体*/
#all{
width:1920px;
/*背景图插入*/
background-image:url(../../images/04.jpg);
background-repeat:no-repeat;
background-size:100% 100%;
float:left;
}

/*相册部分*/
@charset "utf-8";
html{
background-color:#E3E3E3; /* 大背景颜色*/
font-size:14px;           /*字体尺寸*/
color:#000;               /*我的相册-标题-字体颜色*/
font-family:'微软雅黑'；    /*我的相册-字体控制*/
}
a,a:hover{ text-decoration:none;}
pre{font-family:'微软雅黑'}
.box{
padding:20px;     /*img 与 box 之间 填充距离*/
background-color:#CCCCCC;  /*box 背景颜色--白色fff */
margin:60px 100px; /*box 上下 左右  --边距*/
border-radius:5px;  /*box 的边角 的角度 */
width:1120px;
margin-left:400px;
}
.box a{padding-right:15px;}
#about_hide{display:none}
.layer_text{
background-color:#fff; 
padding:20px;
}
.layer_text p{
margin-bottom: 10px; 
text-indent: 2em; 
line-height: 23px;}
.button{
display:inline-block; 
*display:inline; *zoom:1; 
line-height:30px; 
padding:0 20px; 
background-color:#56B4DC; 
color:#fff; font-size:14px;
 border-radius:3px; 
 cursor:pointer; 
 font-weight:normal;
 }
.imgs img{
	width: 300px;/*微缩图 的宽*/
	padding-top: 0;
	padding-right: 50px; /*微缩图之间 左右 间距*/
	padding-bottom: 20px;/*微缩图之间 上下 间距*/
	padding-left: 10px;
}


/*---导航栏部分----*/
/*颈部*/
#nav{
width:1920px;
height:60px;
background-color:#FF9900; 
position:relative; /*对象不可层叠，但将依据 left ， right ， top ， bottom 等属性在正常文档流中偏移位置*/
font-size:14px;    /*子菜单 字体大小  14px刚好*/
color:#000000;     /*子菜单 字体颜色*/
float:left;       /*若不左幅，有空隙*/
}

/*导航栏*/
#daohang{
width:720px;
height:60px;
margin-left:600px;   /*与左边的间距*/
}

#daohang ul { 
list-style-type: none; 
}

#daohang ul li { 
float: left; 
position: relative; 
}
 
#daohang ul li a { 
text-align: center; 
border-right:1px solid #e9e9e9;       /* 设置对象右边框的样式 */
padding:10px;                        /*导航框的 高度*/ 
display:block;                       /*块对象的默认值。将对象强制作为块对象呈递，为对象之后添加新行*/
text-decoration:none;                /*对象文本 无修饰*/
color:#000000;                        /*主菜单 文字 颜色 ---黑色*/ 
} 

#daohang ul li ul { 
display: none;   /*隐藏对象。与 visibility 属性的hidden值不同，其不为被隐藏的对象保留其物理空间*/
} 

#daohang ul li:hover ul { 
display:block;
position: absolute;
/*将对象从文档流中拖出，使用 left ， right ， top ， bottom 等属性相对于其最接近的一个最有定位设置的父对象进行绝对定位。如果不存在这样的父对象，则依据 body 对象。而其层叠通过 z-index 属性定义*/
top:45px;             /*子菜单与主菜单上下之间的距离。   ----必须要有上一句的存在才能生效*/
min-width:190px;      /* 设置对象的 最小 宽度*/ 
left:0px;            /*子菜单与主菜单左右之间的距离。  */
} 

#daohang ul li:hover ul li a { 
display:block; 
background:#12aeef; 
color:#ffffff; 
width: 110px; 
text-align: center; 
border-bottom: 1px solid #f2f2f2; 
border-right: none; 
} 
#daohang ul li:hover ul li a:hover { 
background:#6dc7ec;   /*  两处 改变颜色均无明显变化-----*/
color:#FFFFFF; 
}
.borderleft {
border-left: 1px solid #e9e9e9;
}
.top { 
border-top: 1px solid #f2f2f2;
}
 #nav ul li a:hover {
background:#0099FF ;  /*控制菜单在鼠标移入时的 背景 色----蓝色*/
color:#FFFFFF;        /*控制菜单在鼠标移入时的 字体 色 ---白色*/
} 

#home{
width:64px;
height:64px;
margin-right:150px;
margin-bottom:150px;
float:right;
}