/*
  博客主页   Myblog_Home.html  布局控制
*/
#last{/*最底层*/
  width:auto;
  height:auto;
  background-color:#FFFF33;
}
#header{/*头层*/
  width:1920px;
  height:1080px;
  background-image:url(../images/009.jpg);
}
#header ul{  /*?   没有ul*/
  margin:0px 0px 200px 0px;
}
#half{/*头部以下*/
  width:1920px;
  height:1080px;
  background-image:url(../images/04.jpg);
  background-repeat:no-repeat;
  background-size:100% auto;
  filter:alpha(opacity=50);
  float:left;
  /*background-color:#000000;
  背景图插入*/
}
#nav{/*颈部*/
  width:1920px;
  height:60px;
  background-color:#FF9900;
  position:relative; /*对象不可层叠，但将依据 left ， right ， top ， bottom 等属性在正常文档流中偏移位置*/
  font-size:14px;    /*子菜单 字体大小  14px刚好*/
  color:#000000;     /*子菜单 字体颜色*/
  float:left;       /*若不左幅，有空隙*/
}
#daohang{/*导航栏*/
  width:720px;
  height:60px;
  margin-left:600px;   /*与左边的间距*/
}
#daohang ul { /*导航栏文字————去下划线*/
  list-style-type: none;
}
#daohang ul li {
  float: left;
  position: relative;
}
#daohang ul li a {
  text-align: center;
  border-right:1px solid #e9e9e9;       /* 设置对象右边框的样式 */
  padding:10px;                        /*导航框的 高度*/
  display:block;                       /*块对象的默认值。将对象强制作为块对象呈递，为对象之后添加新行*/
  text-decoration:none;                /*对象文本 无修饰*/
  color:#000000;                        /*主菜单 文字 颜色 ---黑色*/
}
#daohang ul li ul {
  display: none;   /*隐藏对象。与 visibility 属性的hidden值不同，其不为被隐藏的对象保留其物理空间*/
}
#daohang ul li:hover ul {
  display:block;
  position: absolute;
  /*将对象从文档流中拖出，使用 left ， right ， top ， bottom 等属性
    相对于其最接近的一个最有定位设置的父对象进行绝对定位。
    如果不存在这样的父对象，则依据 body 对象。而其层叠通过 z-index 属性定义
    */
  top:45px;             /*子菜单与主菜单上下之间的距离。   ----必须要有上一句的存在才能生效*/
  min-width:190px;      /* 设置对象的 最小 宽度*/
  left:0px;            /*子菜单与主菜单左右之间的距离。  */
}
#daohang ul li:hover ul li a {
  display:block;
  background:#12aeef;
  color:#ffffff;
  width: 110px;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
  border-right: none;
}
#daohang ul li:hover ul li a:hover {
  background:#6dc7ec;   /*  两处 改变颜色均无明显变化-----*/
  color:#FFFFFF;
}
.borderleft {
  border-left: 1px solid #e9e9e9;
}
.top {
  border-top: 1px solid #f2f2f2;
}
 #nav ul li a:hover {
  background:#0099FF ;  /*控制菜单在鼠标移入时的 背景 色----蓝色*/
  color:#FFFFFF;        /*控制菜单在鼠标移入时的 字体 色 ---白色*/
}
/**********主体************/
#mainbody{
  margin-left:400px;
  width:1120px;
  height:1000px;
  float:left;
  background-color:transparent;
  /*border-style:solid;  边框*/
  /*background-color:#FFFFFF;白色*/
  /*background-image:url(../images/107.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%;*/
}


#leftbody{/*左半部分*/
  width:350px;
  height:998px;
  float:left;
  margin-left:10px;
  background-color:#CCCCCC;/*绿色*/
  background-repeat:no-repeat;
  background-position:center;
  /* border-style:solid; 边框*/
}
#photo{/*头像*/
  /*border-spacing:10px 10px;*/
  border-style:solid;
  width:200px;
  height:298px;
  background-color:;
  margin-left:75px;
  background-image:url(../images/ca86e620b9e623ff-b8de023d66d64f20-3d32d11a7a60439f14a6815a4fcae3ea.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:center;/*图片居中*/
}
#data{/*信息*/
  width:348px;
  height:699px;
  background-color:transparent;
}
#data ul{
  margin-left:20px;
}


#rightbody{/*右半部分*/
  width:750px;
  height:998px;
  float:right;
  background-color:#CCCCCC;/*蓝色 */
  list-style-type:none;
}
a {
  text-decoration:none
}
#gft{  /*右侧 放动态图片*/
  width:500px;
  height:300px;
  margin-left:125px;
  float:left;
  top:10px;
}
#one{    /*技术文章、青春美文   设置链接 到 子页*/
  width:745px;
  height:230px;
  float:left;
}
#two{    /*推荐文字/电影/音乐   推荐*励志 设置链接 到 子页*/
  width:745px;
  height:230px;
  float:left;
}
#three{ /*友情链接*/
  width: 100%; overflow: hidden; width:745px;
  height:230px; float:left;
}

#footer{/*尾部*/
  width:1120px;
  height:50px;
  margin-left:400px;
  top:0px;
  /*border-style:inherit;  边框*/
}
